<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form method="post">
    <label for="username">Имя пользователя:</label>
    <input type="text" name="username" placeholder="Ваш никнейм" required><br/>
    <label for="password">Пароль:</label>
    <input type="password" name="password" placeholder="Введите пароль" required><br/>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>